/* Работа с текстом */

.text{
    text-align: justify;
    /*
        justify - выравнивает текст распределяя слова прижимая к краям родителя
    */

    text-align-last: justify;
    /*
        Влияет на последнюю строку в тексте
    */

    text-transform: uppercase;
    /*
        uppercase - Делает все буквы в словах заглавными
        lowercase - делает все буквы прописными
        capitalize - все 1 буквы делает прописными
    */

    white-space: nowrap;
    /*
        nowrap - запрещает перенос строк
        pre - пробелы в тексте не игнорируются, браузер отображает 
        все переносы и пробелы
        pre-wrap - сохраняет пробелы в тексте делая разрывы строк там, где
        необходимо
        pre-line - удаляет все лишние пробелы, за исклчением br

    */

    word-break: break-all;

    /*
        break-all - начинают работать переносы слов. Перенос слов не применяется.
        keep-all - запрещает разрывы между парами символов
    */

}


.calc{
    background: red;
    height: 50px;

    width: calc(50% + 100px);

    /*
        Поддерживает + - * /
        Также можно применяь ()
        До и после знака нужно ставить 1 пробел
    */
}

